<section class="mt-[150px] flex flex-col items-center gap-52 max-w-screen">
    <div class="flex lg:flex-row flex-col justify-start gap-32 w-full snap-center snap-always shrink-0">
        <%= image_tag("https://images.unsplash.com/photo-1542452376175-82b6fb643412?q=80&w=1301&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 
        class:"object-cover flex-1 max-w-[600px] h-[400px] rounded-r-full border-2 border-l-0 border-sky-300")%>
        <div class="lg:text-left text-center mt-5 mr-10 flex flex-col gap-5">
            <h2 class="text-5xl font-bold ">
                For any
                <br>
                <span class="text-gradient">
                    Developer
                </span>
            </h2>
            <p class="text-xl font-semibold ml-1  text-[#2d313f] lg:max-w-[400px]">
                For any software developer who wants to double his/her productivity with a simple tool.
            </p>
            <div class="a p-1 w-fit">
                <%= link_to new_user_registration_path, class:"py-2 group flex lg:items-center lg:justify-start justify-center font-semibold text-blue-600" do%>
                    Get Started Now
                    <svg class="mt-1 ml-1 stroke-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                <%end%>
                <div class="line-draw -mt-1 "></div>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row-reverse flex-col justify-end lg:items-start items-end w-full gap-32 snap-center snap-always shrink-0">
        <%= image_tag("https://images.unsplash.com/photo-1542452376175-82b6fb643412?q=80&w=1301&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 
        class:"object-cover flex-1 max-w-[600px] h-[400px] rounded-l-full border-2 border-r-0 border-sky-300  z-0")%>

        <div class="lg:text-left text-center mt-5 ml-10 flex flex-col w-[500px] gap-5">
            <h2 class="text-5xl font-bold ">
                Access your code
                <br>
                <span class="text-gradient">
                    in a few clicks                    
                </span>
            </h2>
            <p class="text-xl font-semibold ml-1  text-[#2d313f] lg:max-w-[400px]">
                 Get access to your scripts for projects without going to 10 different websites.
            </p>
            <div class="a p-1 w-fit">
                <%= link_to new_user_registration_path, class:"py-2 group flex lg:items-center lg:justify-start justify-center font-semibold text-blue-600" do%>
                    Get Started Now
                    <svg class="mt-1 ml-1 stroke-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                <%end%>
                <div class="line-draw -mt-1 "></div>
            </div>
        </div>
    </div>
    <div class="flex lg:flex-row flex-col justify-start  gap-32 w-full snap-center snap-always shrink-0">
        <%= image_tag("https://images.unsplash.com/photo-1542452376175-82b6fb643412?q=80&w=1301&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", 
        class:"object-cover flex-1 max-w-[600px] h-[400px] rounded-r-full border-2 border-l-0 border-sky-300")%>
        <div class="lg:text-left text-center mt-5 mr-10 flex flex-col gap-5">
            <h2 class="text-5xl font-bold ">
                It's
                <br>
                <span class="text-gradient">
                    Free
                </span>
            </h2>
            <p class=" text-xl font-semibold ml-1  text-[#2d313f] lg:max-w-[400px]">
                No Subscription-based pricing. No headaches about where your money is going.
            </p>
            <div class="a p-1 w-fit  ">
                <%= link_to new_user_registration_path, class:"py-2 group flex lg:items-center lg:justify-start justify-center font-semibold text-blue-600 " do%>
                    Get Started Now
                    <svg class="mt-1 ml-1 stroke-blue-600" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-arrow-right"><path d="M5 12h14"/><path d="m12 5 7 7-7 7"/></svg>
                <%end%>

                <div class="line-draw -mt-1 "></div>
            </div>
        </div>
    </div>

</section>