
<header class="w-full lg:fixed z-50 px-5 lg:pb-0 pb-2  h-[100px] flex lg:flex-row flex-col items-center *:font-semibold lg:border-b bg-white text-slate-800 ">
    <nav class="flex lg:justify-start md:justify-start justify-center items-center w-full gap-5 h-fit ">
        <%= link_to  root_path, class:"font-bold text-lg text-gradient w-10" do%>
            <%= image_tag("/icon(16).png", class:"lg:visible md:visible invisible")%>    
        <%end%>
        <a class="link link-hover lg:visible md:visible invisible" title="Home" href="#home">Home</a>
        <a class="link link-hover lg:visible md:visible invisible" title="Pricing" href="#pricing">Pricing</a>
        
        
        
        
    </nav>
    <div class="w-full flex flex-row  lg:justify-end md:justify-end justify-center items-center gap-5 lg:mr-0 md:mr-10 ">
        <%if user_signed_in?%>
            <% if current_user.plan =="starter"%>
                <%= link_to "Documentation", documentation_docs_page_path%>
            <% elsif current_user.plan =="premium"%>
                <%= link_to "Documentation", documentation_docs_page_updated_path%>
            <% else %>
                <%= link_to "Preview", documentation_docs_page_free_path%>
            <%end%>
            <p class="border border-red-300 bg-red-100 text-red-500 rounded-md px-3 p-1">
                <%= current_user.plan%>
            </p>
            <%= button_to "Log out", destroy_user_session_path, method: :delete%>            
        <%else%>
            <%= link_to "Log In", new_user_session_path%>
            <%= link_to "Sign Up", new_user_registration_path%>
            
        <%end%>
    </div>
</header>
