

<%# Home %>
<section class="min-h-screen bg-slate-100 flex flex-col items-center gap-32 gradient-pattern square-pattern ">
    <%= render "static_pages/home_sections/section_1"%>
    <%= render "static_pages/components/hr"%>

    <%#= render "static_pages/home_sections/section_2"%>
    <%#= render "static_pages/home_sections/section_3"%>
    <%#= render "static_pages/ProductHunt_badge"%>
    <%#= render "static_pages/footer"%>
</section>

<!-- Accordion -->
<%= render "static_pages/components/accordion", title:"Title", description:"Description"%>
<!-- Alert -->
<%= render "static_pages/components/alert", text:"Alert description", color:"red"%>
<!-- Appstore -->
<%= render "static_pages/components/appstore"%>
<!-- Avatar -->
<%= render "static_pages/components/avatar", src:"https://images.unsplash.com/photo-1542452376175-82b6fb643412?q=80&w=1301&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D", size_px:100,alt:"asdas"%>
<!-- Badge -->
<%= render "static_pages/components/badge", text:"Badge description", color:"purple"%>
<!-- Banner -->
<%= render "static_pages/components/banner", text:"This is the text of the banner"%>
<!-- Breadcrumb (with link) -->
<%= render "static_pages/components/breadcrumb", breadcrumb_1:"docs" ,breadcrumb_2:"quickstart",breadcrumb_3:"CDN"%>
<!-- Card -->
<%= render "static_pages/components/card", title:"Card title",text:"Card description...", bg_color:"red", size_px:100%>
<!-- Footer -->
<%= render "static_pages/components/footer"%>
<!-- Companies (Link + color + scale) -->
<%= render "static_pages/components/companies_color"%>
<!-- Companies (Link + color) -->
<%= render "static_pages/components/companies_scale"%>
<!-- Companies worked with -->
<%= render "static_pages/components/companies"%>
<!-- Checkbox -->
<%= render "static_pages/components/checkbox", name:"Checkbox"%>
<!-- Copyright + Privacy & Policy footer -->
<%= render "static_pages/components/copyright_footer"%>
<!-- Footer -->
<%= render "static_pages/components/footer"%>
<!-- Github -->
<%= render "static_pages/components/github"%>
<!-- Glossy Navbar -->
<%= render "static_pages/components/glossy_navbar"%>
<!-- headline 1 -->
<%= render "static_pages/components/headline_1", text:"This is headline 1"%>
<!-- headline 2 -->
<%= render "static_pages/components/headline_2", text:"This is headline 2"%>
<!-- headline 3 -->
<%= render "static_pages/components/headline_3", text:"This is headline 3"%>
<!-- hr -->
<%= render "static_pages/components/hr"%>
<!-- indicator -->
<%= render "static_pages/components/indicator", name:"Visitors", color:"red"%>
<!-- Jumbotron -->
<%= render "static_pages/components/jumbotron"%>
<!-- kbd -->
<%= render "static_pages/components/kbd", name:"Shift"%>
<!-- Link 1 -->
<%= render "static_pages/components/link_to_1", color:"red", link:"#", text:"First link ever", text_color:"white", bg_color:"red"%>
<!-- Link 2 -->
<%= render "static_pages/components/link_to_2", color:"red", link:"#", text:"First link ever", text_color:"red", border_color:"red"%>
<!-- Link 3 -->
<%= render "static_pages/components/link_to_3", color:"red", link:"#", text:"First link ever", text_color:"red"%>
<!-- Link 4 -->
<%= render "static_pages/components/link_to_4", color:"red", link:"#", text:"First link ever", text_color:"white", bg_color:"red"%>
<!-- Loading -->
<%= render "static_pages/components/loading", color:"red"%>
<!-- Navbar -->
<%= render "static_pages/components/navbar"%>
<!-- Product Hunt Badge -->
<%#= render "static_pages/components/product_hunt_badge"%>
<!-- Quote -->
<%= render "static_pages/components/quote", quote:"This is a quote"%>
<!-- Select -->
<%= render "static_pages/components/select"%>
<!-- Skeleton -->
<%= render "static_pages/components/skeleton"%>
<!-- Social media (share) -->
<%= render "static_pages/components/social_media"%>
<!-- Speed dial -->
<%= render "static_pages/components/speed_dial"%>
<!-- Testimonials -->
<%= render "static_pages/components/testimonials"%>
<!-- Toggle -->
<%= render "static_pages/components/toggle", name:"Toggle"%>
<!-- Video -->
<%#= render "static_pages/components/video", src:"https://videos.pexels.com/video-files/28878958/12502419_2560_1440_60fps.mp4"%>







