<div class=" w-screen py-20">
    <h2 class="text-4xl tracking-tight font-bold">Rails Components preview</h2>
    <div class="flex gap-5 items-center justify-center">
        <%= render "static_pages/components/copy_code"%>
        <%= render "static_pages/components/loading", color:"blue"%>
        <%= render "static_pages/components/checkbox", name:"Checkbox"%>
        <%= render "static_pages/components/appstore"%>

    </div>
    <%= render "static_pages/components/companies_scale"%>
    <div class="flex gap-20 justify-center items-center">
        <%= render "static_pages/components/skeleton"%>
        <%= render "static_pages/components/social_media"%>
    </div>


</div>