<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta name="robots" content="index,follow">
    <%= favicon_link_tag 'icon.png', type: 'image/png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta property="og:image" content="<%= asset_url "og.png"%>">
    <meta name="twitter:image" content="<%= asset_url "og.png"%>">

    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tag %>
    
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <% title 'Ruby on Rails components: Rails Elements' %>
    <% description 'rails elements is a ruby on rails components library. It has a newsletter that brings you free rails view components, CSS tips and product updates' %>
    <% keywords 'ruby on rails components,
    rails components,
    rails partials,
    component rails,
    rails view components,
    ruby on rails render partial,
    view component rails,
    viewcomponent rails,
    component based rails applications,
    partial ruby on rails,
    rails 7 view components,
    rails react component,
    rails react server side rendering,
    rails render partial with locals,
    rails tailwind components,
    rails ui components,
    rails web components,
    react component rails,
    ruby on rails dropdown,
    ruby on rails server side rendering,
    ruby on rails ui components' %>
    
    <%= display_meta_tags %>
  </head>
  
  <body class="contain-size bg-red-100 w-full overflow-x-clip">
    <%= yield %>
  </body>
</html>
