<!DOCTYPE html>
<html class="scroll-smooth">
  <head>
    <meta name="robots" content="index,follow">
    <%= favicon_link_tag 'icon.png', type: 'image/png' %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="twitter:image" content="https://opengraph.b-cdn.net/production/images/74305213-8827-458c-8b3a-b656dcdbd34a.png?token=Cdc6F3MRO6lokDHVhz8uE_HMr4tRMeqx5Iy5s3KnYiA&height=854&width=1200&expires=33275002184">
    <meta name="og:image" content="https://opengraph.b-cdn.net/production/images/74305213-8827-458c-8b3a-b656dcdbd34a.png?token=Cdc6F3MRO6lokDHVhz8uE_HMr4tRMeqx5Iy5s3KnYiA&height=854&width=1200&expires=33275002184">    <meta name="twitter:image" content="<%= asset_url "og.png"%>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tag %>
    
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
    
    <% image 'https://opengraph.b-cdn.net/production/images/74305213-8827-458c-8b3a-b656dcdbd34a.png?token=Cdc6F3MRO6lokDHVhz8uE_HMr4tRMeqx5Iy5s3KnYiA&height=854&width=1200&expires=33275002184' %>
    <% title 'Ruby on Rails components: Rails Elements' %>
    <% description 'rails elements is a ruby on rails components UI library. Rails Elements offers a wide range of reusable rails partials and components'%>
    <% keywords 'ruby on rails components,
    rails components,
    rails partials,
    component rails,
    rails view components,
    ruby on rails render partial,
    view component rails,
    viewcomponent rails,
    component based rails applications,
    partial ruby on rails,
    rails 7 view components,
    rails react component,
    rails react server side rendering,
    rails render partial with locals,
    rails tailwind components,
    rails ui components,
    rails web components,
    react component rails,
    ruby on rails dropdown,
    ruby on rails server side rendering,
    ruby on rails ui components' %>
    
    <%= display_meta_tags %>
  </head>
  
  <body class="contain-size bg-red-100 w-full overflow-x-clip">
    <%= yield %>
  </body>
</html>
