<!DOCTYPE html>
<html>
  <head>
    <title>Rails Elements: ruby on rails components</title>
    
    <%= favicon_link_tag 'icon.png', type: 'image/png' %>
    <meta name="description" content="rails elements is a ruby on rails components library. It has a newsletter that brings you free rails view components, CSS tips and product updates">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="keywords" content="
    ruby on rails components,
    rails components,
    rails partials,
    component rails,
    rails view components,
    ruby on rails render partial,
    view component rails,
    viewcomponent rails,
    component based rails applications,
    partial ruby on rails,
    rails 7 view components,
    rails react component,
    rails react server side rendering,
    rails render partial with locals,
    rails tailwind components,
    rails ui components,
    rails web components,
    react component rails,
    ruby on rails dropdown,
    ruby on rails server side rendering,
    ruby on rails ui components">



    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tag %>
    
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="bg-slate-100 overflow-x-hidden ">
    <%= yield %>
  </body>
</html>
